$HEADER_BG_COLOR: #dbd5da;
$SIDEMENU_BG_COLOR: #dbd5da;

$BODY_BG_COLOR: #fff;

$NAVLINKS: #e9f0f3;
$NAVLINKS_HOVER: #ffab65;
$NAVBAV_BASE_COLOR: #763600;

$NAVBAV_BASE_COLOR: #763600;
$SIDEMENU_BORDER_COLOR: #ffab65;
$SIDEMENU_LINKS_COLOR: #542600;
$SIDEMENU_LINKS_HOVER: #763600;
$SIDEMENU_LINKS_HOVER_COLOR: #e9f0f3;
$NAVLINKS: #e9f0f3;
$NAVLINKS_HOVER: #ffab65;

$BROWN-5: #ffe3cb;
$BROWN-10: #542600;
$BROWN-11: #431e00;
$BROWN-12: #210f00;

$GREY-1: #fff;
$GREY-2: #ccc;

$RED-3: #fdbcbb;
$CONFIRMED: #89ed78;

$WARNING: #ffe79a;
